@keyframes appearance {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.Popover {
  opacity: 0;
  animation: appearance 0.2s ease-out forwards;
  animation-delay: 100ms;

  box-sizing: border-box;
  padding: 16px;
  border-radius: 16px;

  background-color: var(--color_background-light);
  box-shadow: var(--shadow_default);
}

:global(#popover-root) .Popover {
  position: fixed;
  z-index: 1;
  position-area: top;
  position-try-fallbacks: flip-block;
  position-visibility: anchors-visible;
  inset: 4px;
}
