---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import ArticleList from "@components/astro/ArticleList.astro";
import DefaultPage from "../../layouts/DefaultPage.astro";

const articles = (await getCollection("articles")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>

<DefaultPage title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <ArticleList articles={articles} path="/hacknote-js/articles" />
  </section>
</DefaultPage>
