---
import { getCollection } from 'astro:content';

import DefaultPage from '@layouts/DefaultPage.astro';
import ArticleCard from '@components/astro/ArticleCard.astro';

const articles = await getCollection('articles');

articles.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<style>
  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section > ul {
    width: 100%;
  }
</style>

<DefaultPage>
  <section>
    <ul>
      {
        articles.map(({ data, slug, id }) => (
          <li>
            <a href={`/hacknote-js/articles/${slug}`}>
              <ArticleCard {...data} id={id} />
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</DefaultPage>
