---
import type { CollectionEntry } from "astro:content";

import ArticleCard from "./ArticleCard.astro";

type Props = {
  path: string;
  articles: CollectionEntry<"articles">[];
  class?: string;
};

const { articles, path, class: className } = Astro.props;
---

<style>
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  a {
    text-decoration: none;
  }
</style>

<ul class={className}>
  {
    articles.map(({ data, slug, id }) => (
      <li>
        <a href={`${path}/${slug}`}>
          <ArticleCard {...data} id={id} />
        </a>
      </li>
    ))
  }
</ul>
