---
export interface Props
  extends Omit<astroHTML.JSX.AnchorHTMLAttributes, 'slot'> {}
---

<a target='_blank' rel='noopener noreferrer' {...Astro.props}><slot /></a>
<style>
  a {
    color: var(--color_accent-yellow);
    text-decoration: none;
  }
</style>
