---
interface Props {
  class?: string;
  style?: string;
  title: string;
}

const { class: className, style, title } = Astro.props;
---

<figure class={className} style={style}>
  <div class="content">
    <slot />
  </div>

  <figcaption>{title}</figcaption>
</figure>

<style>
  .content {
    position: relative;
    width: 100%;
    background-color: var(--color_background-dark);
    border-radius: 16px;
    padding: 32px;
    box-sizing: border-box;
  }

  figcaption {
    font: var(--font_caption);
    margin-top: 8px;
    opacity: 0.5;
  }

  figure {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 500px) {
    figure {
      margin-left: -32px;
      width: calc(100% + 64px);
    }

    .content {
      border-radius: 0;
    }
  }
</style>
