---
import { Icon } from "../react";
import githubIcon from "../icons/github.svg";
import paperPlaneIcon from "../icons/paper-plane.svg";
import BaseLink from "./BaseLink.astro";

const today = new Date();
---

<footer>
  <div class="link-list">
    <BaseLink href="https://github.com/NEWESTERS/hacknote-js" class="link">
      <Icon url={githubIcon.src} size={16} />
      GitHub
    </BaseLink>

    <span>|</span>

    <BaseLink href="https://t.me/hacknote_js" class="link">
      <Icon url={paperPlaneIcon.src} size={16} />
      Telegram
    </BaseLink>
  </div>

  <div class="copyright">
    &copy; {today.getFullYear()} Hacknote.js
  </div>
</footer>
<style>
  footer {
    padding: 25px;
    color: var(--color_text-white);
    font: var(--font_body);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .link-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
  }
</style>
