---
import timeIcon from "../icons/time.svg";
import { formatDuration } from "@utils/time";

export interface Props {
  class?: string;
  /** Длительность в миллисекундах */
  duration: number;
}

const { class: className, duration } = Astro.props;
---

<div class={className}>
  <img src={timeIcon.src} />

  {formatDuration(duration)}
</div>
<style>
  img {
    width: 16px;
    height: 16px;
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: max-content;
    font: var(--font_body);
    color: var(--color_text-white);
    padding: 0 8px;
    background-color: var(--color_background-light);
    border-radius: 8px;
  }
</style>
