---
import anchorIcon from "../icons/link.svg";

interface Props {
  class?: string;
  id?: string;
}

const { class: className, id } = Astro.props;
---

<h2 class={className} id={id}>
  {
    id !== undefined ? (
      <a href={`#${id}`}>
        <img src={anchorIcon} />
        <slot />
      </a>
    ) : (
      <slot />
    )
  }
</h2>
<style>
  img {
    width: 24px;
    height: 24px;

    position: absolute;
    left: -28px;
    height: 100%;
    padding-right: 4px;
    display: none;
  }

  h2 {
    position: relative;
    font: var(--font_h2);
  }

  a {
    text-decoration: none;
    color: var(--color_text-white);
  }

  a:hover > img {
    display: inline;
  }
</style>
