---
import anchorIcon from "../icons/link.svg";

interface Props {
  id?: string;
}

const { id } = Astro.props;
---

<h3 id={id}>
  <a href={`#${id}`}><img src={anchorIcon} /><slot /></a>
</h3>
<style>
  img {
    width: 24px;
    height: 24px;

    position: absolute;
    left: -28px;
    height: 100%;
    padding-right: 4px;
    display: none;
  }

  h3 {
    position: relative;
    font: var(--font_h3);
  }

  a {
    text-decoration: none;
    color: var(--color_text-white);
  }

  a:hover > img {
    display: inline;
  }
</style>
