---
import anchorIcon from "../icons/link.svg";

interface Props {
  id?: string;
}

const { id } = Astro.props;
---

<h3 id={id}>
  <a href={`#${id}`}><img src={anchorIcon.src} /><slot /></a>
</h3>
<style>
  img {
    width: 24px;
    height: 24px;
    margin-left: -28px;
    padding-right: 4px;
    display: none;
  }

  h3 {
    font: var(--font_h3);
    color: var(--color_text-white);
  }

  a {
    text-decoration: none;
    color: var(--color_text-white);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  a:hover > img {
    display: block;
  }
</style>
