---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../../consts";
import H1 from "./H1.astro";
---

<header>
  <H1 class="title">
    {SITE_TITLE}
  </H1>
  <nav>
    <HeaderLink href="/hacknote-js/">Главная</HeaderLink>
    <HeaderLink href="/hacknote-js/articles">Статьи</HeaderLink>
  </nav>
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .title {
    color: var(--color_accent-yellow);
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
</style>
