---
import type { HTMLAttributes } from "astro/types";

import { isUrlMatch } from "@utils/url";

interface Props extends HTMLAttributes<"a"> {
  exact?: boolean;
}

const { href, class: className, exact, ...props } = Astro.props;

const isActive = href && isUrlMatch(Astro.url.pathname, href, exact);
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>

<style>
  a {
    padding: 8px;
    text-decoration: none;
    font: var(--font_body);
    color: var(--color_text-white);
    border-bottom: solid 1px transparent;
    box-sizing: border-box;
  }
  a.active {
    border-color: var(--color_accent-yellow);
  }
</style>
