---
import { SITE_TITLE } from "../../consts";

import NavBar from "./NavBar.astro";

export interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<header class={className}>
  <div class="title">
    {SITE_TITLE}
  </div>

  <NavBar class="nav-bar" />
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .title {
    color: var(--color_accent-yellow);
    font: var(--font_h1);
    text-align: center;
    margin: 0;
  }

  .nav-bar {
    width: 100%;
  }
</style>
