---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../../consts";

import { GlobalSearchModal } from "@components/react/GlobalSearch";

export interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<header class={className}>
  <div class="title">
    {SITE_TITLE}
  </div>

  <nav>
    <HeaderLink href="/hacknote-js/" exact>Главная</HeaderLink>
    <HeaderLink href="/hacknote-js/articles">Статьи</HeaderLink>

    <GlobalSearchModal className="search" client:only="react" />
  </nav>
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .title {
    color: var(--color_accent-yellow);
    font: var(--font_h1);
    text-align: center;
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
    height: 48px;
  }

  .search {
    margin-left: auto;
  }
</style>
