---
interface Props {
  postId: string;
  class?: string;
}

const { postId, class: className } = Astro.props;
---

<div class={className}>
  <script
    async
    src="https://telegram.org/js/telegram-widget.js?22"
    data-telegram-post={`hacknote_js/${postId}`}
    data-width="100%"
    data-dark="1"
    data-dark-color="FFD865"
    is:inline
    data-astro-rerun></script>
</div>

<style>
  div :global(iframe) {
    color-scheme: dark !important;
  }
</style>
