---
import { getCollection } from "astro:content";

import DefaultPage from "@layouts/DefaultPage.astro";
import VideoCard from "@components/astro/VideoCard.astro";

const videos = (await getCollection("videos")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<style>
  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section > ul {
    width: 100%;
  }
</style>

<DefaultPage>
  <section>
    <ul>
      {
        videos.map(({ data, slug, id }) => (
          <li>
            <a href={`/hacknote-js/videos/${slug}`}>
              <VideoCard {...data} id={id} />
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</DefaultPage>
