---
import { getCollection } from "astro:content";

import { SITE_TITLE } from "../../consts";
import VideoCard from "@components/astro/VideoCard.astro";
import ContentPage from "@layouts/ContentPage.astro";

const videos = (await getCollection("videos")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<style>
  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section > ul {
    width: 100%;
  }
</style>

<ContentPage title={`Видео | ${SITE_TITLE}`}>
  <section>
    <ul>
      {
        videos.map(({ data, slug, id }) => (
          <li>
            <VideoCard {...data} id={id} url={`/hacknote-js/videos/${slug}`} />
          </li>
        ))
      }
    </ul>
  </section>
</ContentPage>
