:root {
  --color_background-regular: #272727;
  --color_background-dark: #1f1f1f;
  --color_background-light: #3c3b3d;
  --color_text-white: #f7f0ff;
  --color_text-black: #272727;
  --color_accent-red: #ff6287;
  --color_accent-yellow: #ffd865;
  --color_accent-green: #a6dc75;
  --color_accent-blue: #75dbe7;
  --color_language-ts: #0078cb;
  --color_language-js: #f5de1c;
  --color_language-dts: #00a13e;

  --shadow_default: 0px 10px 34px rgba(0, 0, 0, 0.35);

  --font-family: "Montserrat", sans-serif;
  --font-family-mono: Consolas, Menlo, Monaco, source-code-pro, Courier New,
    monospace;

  --font_h1: bold 2.5rem / 1.25 var(--font-family);
  --font_h2: bold 1.75rem / 1.35 var(--font-family);
  --font_h3: bold 1.5rem / 1.45 var(--font-family);
  --font_h4: bold 1.25rem / 1.55 var(--font-family);
  --font_body: normal 1rem / 1.75 var(--font-family);
  --font_code: normal 0.9rem / 1.75 var(--font-family-mono);
  --font_caption: normal 0.8rem / 1.5 var(--font-family);

  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--color_background-dark);
  color: var(--color_text-white);
  font: var(--font_body);
}

*::selection {
  background-color: #999999;
  background-color: var(--color_background-light);
}

.expressive-code {
  margin-inline: -32px;
}
