.Text {
  font: var(--font_body);
  color: var(--color_text-white);
  text-align: start;
}

.Shortcut {
  font: var(--font_caption);
  color: var(--color_text-white);
  border: 1px solid currentColor;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.Button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: none;
  border: solid 1px var(--color_background-light);

  height: 48px;
  padding: 0 12px;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;

  backdrop-filter: blur(8px);
  box-shadow: var(--shadow_default);
  background: linear-gradient(
    160deg,
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0)
  );
  background-size: 200% 200%;
  background-position: 50% 20%;

  transition:
    border-color 0.1s ease-out,
    background-position 0.3s ease-out;

  &:focus-within {
    border-color: var(--color_text-white);
  }

  @media (hover: hover) {
    &:hover,
    &:focus-within {
      background-position: 0% 0%;
    }
  }

  > .Text {
    flex-grow: 1;
  }

  > .Text,
  > .Shortcut {
    display: none;
  }

  @container (min-width: 300px) {
    width: 100%;
    cursor: text;

    > .Text {
      display: initial;
    }

    > .Shortcut {
      display: initial;
    }
  }
}

.Layout {
  container-type: inline-size;
  display: flex;
  justify-content: flex-end;
}
