---
import { getCollection } from "astro:content";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import DefaultPage from "../layouts/DefaultPage.astro";
import BaseLink from "@components/astro/BaseLink.astro";
import ArticleCard from "@components/astro/ArticleCard.astro";
import P from "@components/astro/P.astro";
import H2 from "@components/astro/H2.astro";

const latestArticle = (await getCollection("articles")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)[0];
---

<DefaultPage title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <figure>
    <img src="/hacknote-js/images/logo.svg" />
  </figure>

  <P class="description">
    Блог Telegram-канала
    <BaseLink href="https://t.me/hacknote_js">Hacknote.js</BaseLink>.
  </P>

  <H2 class="header">Последняя статья</H2>

  <a href={`/hacknote-js/articles/${latestArticle.slug}`}>
    <ArticleCard {...latestArticle.data} id={latestArticle.id} />
  </a>
</DefaultPage>

<style>
  figure {
    margin: 0;
    width: 100%;
    background-color: var(--color_accent-yellow);
    border-radius: 16px;
  }
  img {
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 32px;
  }

  .description {
    text-align: center;
  }

  .header {
    text-align: center;
    margin-bottom: 16px;
  }

  a {
    text-decoration: none;
  }
</style>
