---
import { getCollection } from "astro:content";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import DefaultPage from "../layouts/DefaultPage.astro";
import BaseLink from "../components/BaseLink.astro";
import ArticleCard from "../components/ArticleCard.astro";

const latestArticle = (await getCollection("articles")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)[0];
---

<DefaultPage title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <figure>
    <img src="/hacknote-js/images/logo.svg" />
  </figure>

  <p>
    Блог Telegram-канала
    <BaseLink href="https://t.me/hacknote_js">Hacknote.js</BaseLink>.
  </p>

  <h1>Последняя статья</h1>

  <a href={`/hacknote-js/articles/${latestArticle.slug}`}>
    <ArticleCard {...latestArticle.data} />
  </a>
</DefaultPage>

<style>
  figure {
    margin: 0;
    width: 100%;
    background-color: var(--color_accent-yellow);
    border-radius: 16px;
  }
  img {
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 32px;
  }

  p {
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  a {
    text-decoration: none;
  }
</style>
