---
import { getCollection } from 'astro:content';

import DefaultPage from '@layouts/DefaultPage.astro';
import BaseLink from '@components/astro/BaseLink.astro';
import ArticleCard from '@components/astro/ArticleCard.astro';
import P from '@components/astro/P.astro';
import H2 from '@components/astro/H2.astro';
import VideoCard from '@components/astro/VideoCard.astro';

const [articles, videos] = await Promise.all([
  getCollection('articles'),
  getCollection('videos')
]);

const latestPublication = [...articles, ...videos].sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)[0];
---

<DefaultPage>
  <figure>
    <img src='/hacknote-js/images/logo.svg' />
  </figure>

  <P class='description'>
    Блог Telegram-канала
    <BaseLink href='https://t.me/hacknote_js'>Hacknote.js</BaseLink>.
  </P>

  <H2 class='header'>Последняя публикация</H2>

  {
    'url' in latestPublication.data ? (
      <a href={`/hacknote-js/videos/${latestPublication.slug}`}>
        <VideoCard {...latestPublication.data} id={latestPublication.id} />
      </a>
    ) : (
      <a href={`/hacknote-js/articles/${latestPublication.slug}`}>
        <ArticleCard {...latestPublication.data} id={latestPublication.id} />
      </a>
    )
  }
</DefaultPage>

<style>
  figure {
    margin: 0;
    width: 100%;
    background-color: var(--color_accent-yellow);
    border-radius: 16px;
  }
  img {
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 32px;
  }

  .description {
    text-align: center;
  }

  .header {
    text-align: center;
    margin-bottom: 16px;
  }

  a {
    text-decoration: none;
  }
</style>
