---
import anchorIcon from "../icons/link.svg";

interface Props {
  id?: string;
}

const { id } = Astro.props;
---

<h3 id={id}>
  <a href={`#${id}`}><img src={anchorIcon} /></a><slot />
</h3>
<style>
  img {
    width: 24px;
    height: 24px;
  }

  h3 {
    position: relative;
  }

  a {
    position: absolute;
    left: -28px;
    height: 100%;
    padding-right: 4px;
    display: none;
  }

  h3:hover > a {
    display: inline;
  }
</style>
