---
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"articles">["data"] & {
  class?: string;
};

const { pubDate, title, heroImage, class: className } = Astro.props;
---

<div class:list={["card", className]}>
  <div class="description">
    <h2 class="title">{title}</h2>

    <time class="date" datetime={pubDate.toISOString()}>
      {
        pubDate.toLocaleDateString("ru-ru", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </time>
  </div>

  <img class="image" src={heroImage} width={196} height={160} alt={title} />
</div>

<style>
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding: 32px;
    border-radius: 16px;
    background-color: var(--color_background-regular);
    box-shadow: var(--shadow_default);
    box-sizing: border-box;
    transition: transform 0.2s ease;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .title {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    color: var(--color_text-white);
  }

  .date {
    width: max-content;
    font-weight: regular;
    font-size: 16px;
    color: var(--color_text-white);
    padding: 0 8px;
    background-color: var(--color_background-light);
    border-radius: 8px;
  }

  .description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
  }

  .image {
    width: 196px;
    height: 160px;
    object-fit: contain;
    border-radius: 16px;
  }

  @media screen and (max-width: 375px) {
    .card {
      flex-direction: column;
    }

    .image {
      width: 100%;
      height: auto;
    }
  }
</style>
