---
import tipIcon from "./icons/tip.svg";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<style>
  aside {
    background-color: var(--color_background-light);
    border-left: solid 4px var(--color_accent-blue);
    padding: 8px 16px;
    box-sizing: border-box;
  }

  img {
    margin-right: 8px;
    margin-bottom: -4px;
  }

  p {
    margin-top: 8px;
    font-weight: bold;
  }
</style>
<aside>
  <p><img src={tipIcon} />{title}</p>
  <section>
    <slot />
  </section>
</aside>
