---
import Head, { type Props as HeadProps } from "@components/astro/Head.astro";
import Footer from "@components/astro/Footer.astro";
import WebComponentsDefinitions from "@components/web-components/index.astro";
import SnowFall from "@components/astro/SnowFall.astro";

export type Props = HeadProps;

const { title, description, image, type } = Astro.props;

const currentDate = new Date();

const hasSnow = currentDate.getMonth() >= 10 || currentDate.getMonth() <= 2;
---

<html lang="ru">
  <Head title={title} description={description} image={image} type={type} />

  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      width: 100vw;
      height: 100dvh;
      margin: 0;
      padding: 16px;
      box-sizing: border-box;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  </style>

  <body>
    <WebComponentsDefinitions />

    {hasSnow && <SnowFall />}

    <slot />

    <Footer />
  </body>
</html>
