---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import WebComponentsDefinitions from "../components/web-components/index.astro";

type Props = {
  type?: "website" | "article";
  title: string;
  description: string;
  image?: string;
};

const { title, description, image, type } = Astro.props;
---

<style>
  html {
    /* overflow-y: scroll; */
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 16px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  main {
    width: calc(100%);
    max-width: 800px;
  }
</style>

<html lang="ru">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
      type={type}
    />
  </head>

  <body>
    <WebComponentsDefinitions />

    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
